// THEME

$white: #FFFFFF;
$light-gray: #F9F9F9;
$medium-gray: #F2F2F2;
$dark-gray: #D9D9D9;
$black: #212529;

$color-white: #ffffff;
$color-light-gray: #DBD8E3;
$color-medium-gray: #5C5470;
$color-dark: #022D46;
$color-black: #212529;

$color-dark: #1B262C;
$color-primary: #0F4C75;
$color-secondary: #3282B8;
$color-light: #BBE1FA;