<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">Fire Alarms Systems</h1>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <div class="col-sm-12 r2c1r1c1">
                    <h4 class="h4">Intro</h4>
                    <p class="p">Fire alarm systems are an essential component of any building's safety plan. They are
                        designed to detect and alert occupants of the building in the event of a fire. When properly
                        installed and maintained, a fire alarm system can save lives and minimize property damage.
                    </p>
                </div>
            </div>
            <div class="row r2c1r2">
                <div class="col-sm-12 r2c1r1c2">
                    <h4 class="h4">How does it work?</h4>
                    <p class="p">There are different types of fire alarm systems, including conventional, addressable,
                        and wireless systems. Conventional systems use a series of detectors that are connected to a
                        control panel and divided into zones. When a detector is triggered, the panel will indicate
                        which zone has been affected, allowing the occupants to respond accordingly. Addressable systems
                        work similarly but can pinpoint the exact location of the fire. Wireless systems, as the name
                        suggests, do not require wires to connect detectors to the control panel, making them a more
                        flexible option.</p>
                    <p class="p">Fire alarm systems should be installed and maintained by certified professionals who
                        can ensure that the system meets all applicable codes and regulations. Regular testing and
                        inspection are also critical to ensure the system functions correctly when needed.</p>
                    <p class="p">We offer a range of fire alarm systems tailored to meet the specific needs of our
                        clients. Our systems are designed to detect fires quickly and alert occupants of the building,
                        enabling them to evacuate safely and quickly. we pride ourselves on providing our clients with
                        reliable and comprehensive fire alarm systems that meet their specific needs. Contact us today
                        to learn more about our services and how we can help protect your property and loved ones from
                        the threat of fire.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <app-call-to-action></app-call-to-action>
        </div>
    </div>
</div>