<div class="container-fluid partners">
    <div class="row r1">
        <div class="partners-title">
            <h3 class="h3">OUR ASSOCIATION WITH OUR BRANDED PARTNERS</h3>
        </div>
        <div class="col-sm-12 r1c1">
            <owl-carousel-o [options]="customOptions">
                <ng-template class="template" carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/1.png" alt="Medical">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/2.png" alt="Retail">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/3.png"
                                alt="Real Estate">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/4.png"
                                alt="Business Consulting">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/5.png"
                                alt="Entertainment">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/6.png"
                                alt="Accommodation">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/7.png"
                                alt="Construction">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/8.png"
                                alt="Technology">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/9.png"
                                alt="Telecommunications">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/10.png"
                                alt="Advertising">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/11.png"
                                alt="Advertising">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/12.png"
                                alt="Advertising">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/13.png"
                                alt="Advertising">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/14.png"
                                alt="Advertising">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row r">
                        <div class="col-sm-12 c">
                            <img class="img hospital" src="../../../../../assets/images/partners/15.png"
                                alt="Advertising">
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>