<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">IP CCTV Systems</h1>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <div class="col-sm-12 r2c1r1c1">
                    <h4 class="h4">Intro</h4>
                    <p class="p">IP CCTV systems are a type of surveillance system that utilizes internet protocol (IP)
                        technology to transmit video and audio signals over a network. This technology allows for
                        high-quality footage to be captured, stored, and accessed remotely from any device with internet
                        access.
                    </p>
                </div>
            </div>
            <div class="row r2c1r2">
                <div class="col-sm-12 r2c1r1c2">
                    <h4 class="h4">How does it work?</h4>
                    <p class="p">Enhanced Security: IP CCTV systems provide a powerful deterrent against theft,
                        vandalism, and other criminal activities, while also allowing for rapid identification and
                        response to incidents.</p>
                    <p class="p">Remote Monitoring: With IP CCTV systems, users can access live or recorded footage from
                        anywhere with an internet connection, allowing for real-time monitoring of their property or
                        assets.
                    </p>
                    <p class="p">Scalability: IP CCTV systems can be easily scaled up or down depending on the size and
                        complexity of the surveillance requirements, making them ideal for businesses of all sizes.</p>
                    <p class="p">Cost-Effective: Compared to traditional CCTV systems, IP CCTV systems offer a more
                        cost-effective solution with lower maintenance and installation costs.</p>
                    <p class="p">Integration with Other Systems: IP CCTV systems can be integrated with other security
                        systems such as access control, fire alarms, and intruder alarms, providing a comprehensive
                        security solution.</p>
                    <p class="p">In summary, our IP CCTV systems as a service offer an efficient and effective solution
                        for surveillance needs, providing enhanced security, remote monitoring, scalability,
                        cost-effectiveness, and integration with other systems.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <app-call-to-action></app-call-to-action>
        </div>
    </div>
</div>