<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">Fire Hydrant Systems</h1>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <div class="col-sm-12 r2c1r1c1">
                    <h4 class="h4">Intro</h4>
                    <p class="p">A fire hydrant system is a network of pipes and valves that are designed to provide an
                        adequate supply of water to firefighters in the event of a fire. The system typically includes a
                        series of underground pipes connected to a network of fire hydrants. These hydrants are
                        typically located at strategic points around a building or property, making it easy for
                        firefighters to connect their hoses and begin extinguishing the fire.
                    </p>
                </div>
            </div>
            <div class="row r2c1r2">
                <div class="col-sm-12 r2c1r1c2">
                    <h4 class="h4">How does it work?</h4>
                    <p class="p">Several types of fire hydrant systems exist, including wet systems, dry systems, and
                        pre-action systems. Each type of system is designed for different types of buildings and fire
                        hazards. Wet systems are the most common and are used in buildings where the temperature is
                        above freezing. Dry systems are used in buildings where the temperature can drop below freezing,
                        and pre-action systems are used in buildings where water damage is a concern.</p>
                    <p class="p">At our company, we offer comprehensive installation and maintenance services for fire
                        hydrant systems. Our experienced technicians can install your system quickly and efficiently,
                        ensuring that it is up to code and fully functional. We also offer regular maintenance services
                        to ensure that your system is always in top condition and ready to use in an emergency.
                    </p>
                    <p class="p">If you are interested in learning more about our fire hydrant systems or would like to
                        schedule an installation or maintenance appointment, please contact us today. We are committed
                        to helping you protect your property and occupants with high-quality fire hydrant systems.</p>
                </div>
            </div>
        </div>

        <div class="row r3">
            <div class="col-sm-12 r3c1">
                <app-call-to-action></app-call-to-action>
            </div>
        </div>
    </div>