<div class="container-fluid counter">
    <div class="row r1">
        <div class="col-sm-3 r1c1">
            <div class="counter-one">+</div>
            <h6 class="h6">CLIENTS</h6>
        </div>
        <div class="col-sm-3 r1c2">
            <div class="counter-two">+</div>
            <h6 class="h6">PROJECTS</h6>
        </div>
        <div class="col-sm-3 r1c3">
            <div class="counter-three">+</div>
            <h6 class="h6">SERVICES</h6>
        </div>
        <div class="col-sm-3 r1c4">
            <div class="counter-four">+</div>
            <h6 class="h6">SOLUTIONS</h6>
        </div>
    </div>
</div>