<div class="container-fluid about">
    <div class="row r1 wallpapers">
        <div class="col-sm-12 r1c1">
            <img class="img" src="../../../assets/images/adobe/19.png" alt="office">
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <h1 class="h1">About Us</h1>
            </div>
            <div class="row r2c1r2">
                <p class="p">Our story is your success</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 p-0">
            <app-stats-counter></app-stats-counter>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <h3 class="h3">Passionate about delivering excellence</h3>
            <div class="row r3c1r1">
                <div class="col-sm-6 r3c1r1c1">
                    <p class="p">The fastest growing IBMS system integration company in the Indian market
                        is Tech Control Systems Pvt. Ltd. (TCSPL). working throughout all regions, offering adaptability
                        and various IBMS brand solutions for Fitouts, base buildings, industrial parks, and factories in
                        accordance with your business needs, and doing so under the leadership of 20 years</p>
                </div>
            </div>
            <div class="row r3c1r2">
                <div class="col-sm-6 r3c1r2c1">
                    <p class="p">We specialise in offering a broad range of services as a business, and
                        we are dedicated to assuring the security and comfort of our customers. We provide a variety of
                        goods and services, from Active Harmonic Filters to Emergency Lighting Solutions, to meet the
                        demands of various markets.</p>
                </div>
            </div>
            <div class="row r3c1r3">
                <div class="col-sm-6 r3c1r3c1">
                    <p class="p">Our Public Address Systems aid in communication during emergencies,
                        while our Intelligent Fire Alarm Systems are built to detect and warn people in case of a fire
                        outbreak. Our IP CCTV Systems with Video Management Systems (VMS) provide round-the-clock
                        surveillance to assure security, while our Building Management Systems (IBMS) provide effective
                        management of a monitored building's
                        infrastructure.</p>
                </div>
            </div>
            <div class="row r3c1r4">
                <div class="col-sm-6 r3c1r4c1">
                    <p class="p">We also offer networking systems, home automation systems, and entrance automation
                        systems that improve the security and usability of buildings. By removing oxygen from the air,
                        our gas
                        suppression systems aid in the control of fires, while our interior lighting and control
                        solutions improve
                        indoor spaces' energy and environmental performance.</p>
                </div>
            </div>
            <div class="row r3c1r5">
                <div class="col-sm-6 r3c1r5c1">
                    <p class="p">We also provide Fire Hydrant Systems and Modular Fire Extinguishers to safeguard
                        buildings against fire risks. Finally, in the event of a power loss, our emergency lighting
                        solutions
                        guarantee that building occupants may safely leave.</p>
                </div>
            </div>
            <div class="row r3c1r6">
                <div class="col-sm-6 r3c1r6c1">
                    <p class="p">You can rely on us to give you solutions with our extensive Extra Low Voltage
                        Systems (ELV) variety of services that address your unique needs. We take pleasure in offering
                        top-notch
                        goods and services that go above and beyond for our customers. Our team of professionals is
                        always on hand
                        to help you with the selection and installation process as well as with any support you might
                        require.</p>
                </div>
            </div>
        </div>
    </div>

    <app-tcspl-partners></app-tcspl-partners>

    <app-call-to-action></app-call-to-action>

</div>