<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">Public Address Systems</h1>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <div class="col-sm-12 r2c1r1c1">
                    <h4 class="h4">Intro</h4>
                    <p class="p">A public address system, also known as a PA system, is an electronic amplification
                        system used to distribute sound throughout a space or venue. PA systems typically consist of
                        speakers, amplifiers, microphones, and other components designed to enhance and distribute sound
                        effectively.
                    </p>
                </div>
            </div>
            <div class="row r2c1r2">
                <div class="col-sm-12 r2c1r1c2">
                    <h4 class="h4">How does it work?</h4>
                    <p class="p">FAST-PACED IP-BASED PUBLIC ADDRESS SOLUTION CATERS for small and medium-sized
                        businesses and public institutions with a high consistency of service.
                        INFLICT security equipment via signal input-output lines e.g controlling video cameras, light
                        switches, or door actuators, handling incoming detector signals, and so on.
                        HANDLE on-site situations and acoustically monitor the area remotely.
                    </p>
                    <p class="p">When selecting a PA system, it is important to consider the size of the venue, the
                        number of people in the audience, and the type of event or presentation. Other factors to
                        consider include the quality of the sound, the ease of setup and operation, and the cost of the
                        system.</p>
                    <p class="p">We provide detailed information on each type of PA system, as well as tips and advice
                        on how to select the right system for your needs. We also offer reviews of the top PA systems on
                        the market, along with user ratings and feedback.
                    </p>
                    <p class="p">If you have any questions or need help selecting a PA system, please don't hesitate to
                        contact us. We are here to help you find the perfect system for your needs, and we look forward
                        to hearing from you.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <app-call-to-action></app-call-to-action>
        </div>
    </div>
</div>