<div class="container-fluid home">
    <div class="row r1 wallpapers">
        <div class="col-sm-12 r1c1">
            <img class="img" src="../../../assets/images/buildings/5.png" alt="office">
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <h1 class="h1">Securing Your World, Today and Tomorrow</h1>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-4 r3c1">
            <p class="p">Tech Control Systems is an automation company that offers a range of solutions and services to
                various industries, including manufacturing, healthcare, and pharmaceuticals</p>
        </div>
        <div class="col-sm-4 r3c2">
            <p class="p">Our solutions include automation systems, control systems, and data acquisition systems that
                are designed to optimize processes and increase efficiency</p>
        </div>
        <div class="col-sm-4 r3c3">
            <p class="p">With a team of experienced engineers and technicians,
                we work closely with clients to understand their needs and provide solutions that optimize processes and
                increase efficiency</p>
        </div>
        <div class="col-sm-4 r3c4">
            <p class="p">We provide customized engineering and design services to meet the unique requirements of our
                clients</p>
        </div>
        <div class="col-sm-4 r3c5">
            <p class="p">Our experienced engineers and technicians work closely with clients to understand their needs
                and deliver comprehensive solutions that are reliable and of the highest quality</p>
        </div>
        <div class="col-sm-4 r3c6">
            <p class="p">With a focus on customer satisfaction, Tech Control Systems is committed to delivering
                high-quality services that meet the highest industry standards and exceed client expectations</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 p-0">
            <app-stats-counter></app-stats-counter>
        </div>
    </div>

    <div class="row r4 about">
        <div class="col-sm-12 r4c1">
            <div class="row r4c1r1">
                <div class="col-sm-12 r4c1r1c1">
                    <h1 class="h1">About Us</h1>
                </div>
            </div>
            <div class="row r4c1r2">
                <div class="col-sm-4 r4c1r2c1">
                    <p class="p p1">Tech Control Systems Pvt Ltd (TCSPL) is a versatile company that offers a variety of
                        services
                        to meet its clients' needs. The company's expertise includes Turnkey Solutions, Integrated
                        Building
                        Automation, Lighting Control Solutions, Information Technology, Security projects, and extra Low
                        Voltage. With a team of experts, TCSPL is capable of delivering high-quality solutions that meet
                        industry standards.</p>
                </div>
                <div class="col-sm-4 r4c1r2c2">
                    <p class="p p2">TCSPL's Turnkey Solutions are designed to provide comprehensive solutions to complex
                        projects.
                        This service includes everything from project planning, design, procurement, installation,
                        commissioning, and after-sales support. TCSPL's Turnkey Solutions have helped many clients
                        achieve
                        their
                        project goals and deliver successful outcomes.</p>
                </div>
            </div>
            <div class="row r4c1r4">
                <div class="col-sm-12 r4c1r4c1">
                    <button class="button" (click)="scrollToTop()" routerLink="/about" mat-stroked-button>About
                        Us</button>
                </div>
            </div>
        </div>
    </div>

    <app-tcspl-partners></app-tcspl-partners>

    <app-services></app-services>

    <app-call-to-action></app-call-to-action>

</div>