<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <div class="row r1c1r1">
                <div class="col-sm-4 r1c1r1c1">
                    <mat-card class="mat-card mc-one">
                        <mat-card-content class="mat-card-content p-5">
                            <h2>ERROR 404!</h2>
                            <h5>PAGE-NOT-FOUND!!</h5>
                        </mat-card-content>
                        <mat-card-actions class="mat-card-actions">
                            <button routerLink="/home" mat-button>Back</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>