<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">Emergency Lighting
                Solutions</h1>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <div class="col-sm-12 r2c1r1c1">
                    <h4 class="h4">Intro</h4>
                    <p class="p">Whether you're looking for emergency lighting for your home, business, or industrial
                        facility, we have the expertise and products to meet your needs. Our comprehensive selection of
                        emergency lighting solutions includes exit signs, emergency lights, and combination units that
                        are suitable for a wide range of applications.
                    </p>
                </div>
            </div>
            <div class="row r2c1r2">
                <div class="col-sm-12 r2c1r1c2">
                    <h4 class="h4">How does it work?</h4>
                    <p class="p">We understand the importance of reliable and effective
                        emergency lighting. In an emergency situation, every second counts, and having the right
                        lighting can mean the difference between life and death. That's why we only offer the highest
                        quality products from trusted brands like Lithonia Lighting, Cooper Lighting, and Hubbell
                        Lighting.</p>
                    <p class="p">Our team of experienced professionals is always ready to help you select the right
                        emergency lighting solutions for your specific needs. We can provide expert advice on which
                        products are best suited for your environment and offer design and installation services to
                        ensure that your emergency lighting system is up to code and operating at peak efficiency.</p>
                    <p class="p">We also offer maintenance and repair services to keep your emergency lighting system
                        functioning properly at all times. Our team of certified technicians can provide routine
                        inspections, testing, and repairs to ensure that your system is always ready when you need it
                        most.</p>
                    <p class="p">We are committed to providing our customers with the best possible service and support.
                        We stand behind our products and services and are always available to answer any questions or
                        concerns you may have. With our expertise and commitment to quality, you can trust us to provide
                        you with the emergency lighting solutions you need to keep your home, business, or facility safe
                        and secure. Contact us today to learn more about our products and services.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <app-call-to-action></app-call-to-action>
        </div>
    </div>
</div>