<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">Active Harmonic Filters</h1>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <div class="col-sm-12 r2c1r1c1">
                    <h4 class="h4">Intro</h4>
                    <p class="p">Active harmonic filters are devices that are used to eliminate harmonic distortion from
                        power
                        systems. Harmonic distortion is caused by nonlinear loads that draw current in a nonlinear
                        manner,
                        causing the voltage and current waveforms to be distorted. This can lead to a range of problems
                        including reduced efficiency, overheating of equipment, and interference with communication
                        systems.
                    </p>
                </div>
            </div>
            <div class="row r2c1r2">
                <div class="col-sm-12 r2c1r1c2">
                    <h4 class="h4">How does it work?</h4>
                    <p class="p">Active harmonic filters work by injecting a current into the power system that is equal
                        in
                        magnitude and opposite in phase to the harmonic current produced by the nonlinear loads. This
                        cancels
                        out the harmonic current and restores the voltage and current waveforms to their sinusoidal
                        shape.
                        The
                        filters are able to detect the harmonic current and produce the appropriate correction signal
                        within
                        a
                        fraction of a cycle, ensuring that the distortion is eliminated in real-time. </p>
                    <p class="p">Active harmonic filters are typically installed at the point of common coupling (PCC)
                        between
                        the power system and the nonlinear load. They can be used in a range of applications including
                        industrial processes, data centers, hospitals, and commercial buildings. They provide a
                        cost-effective
                        solution for eliminating harmonic distortion and improving the quality and reliability of power
                        systems.
                    </p>
                    <p class="p">Overall Tech Control Systems Active harmonic filter corrects the harmonics that are
                        currently
                        produced by non-linear equipment, such as switch-mode power supplies, variable speed drives,
                        rectifiers,
                        robotics, and inverters, which are located within a customer's facility.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row r3">

        <div class="col-sm-12 r3c1">
            <app-call-to-action></app-call-to-action>
        </div>
    </div>
</div>