<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">Entrance Automation
                Systems</h1>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <div class="col-sm-12 r2c1r1c1">
                    <h4 class="h4">Intro</h4>
                    <p class="p">At Entrance Automation
                        Systems, we understand that security and ease of access are two crucial elements for any
                        property owner. Our range of automated solutions provides you with both. Whether you're looking
                        to secure your commercial premises, control the flow of people into a public space, or provide
                        secure and convenient access to your residential property, our products are designed to meet
                        your specific needs.
                    </p>
                </div>
            </div>
            <div class="row r2c1r2">
                <div class="col-sm-12 r2c1r1c2">
                    <h4 class="h4">How does it work?</h4>
                    <p class="p">Our automatic doors are ideal for commercial and industrial properties. Our range
                        includes sliding, swing, and revolving doors, all of which are designed to provide ease of
                        access while ensuring your property remains secure. With features such as automatic sensors and
                        remote access control, our doors are perfect for busy commercial properties where time is of the
                        essence.</p>
                    <p class="p">Our gate systems are perfect for securing your residential property or commercial
                        premises. Our range includes sliding gates, swing gates, and bi-folding gates, all designed to
                        provide maximum security without compromising style. With our automatic gate systems, you can
                        control who enters your property and provide access to authorized personnel only.</p>
                    <p class="p">Our systems are ideal for controlling the flow of people into public spaces such as
                        stadiums, museums, and airports. Our range includes full-height turnstiles, waist-high
                        turnstiles, and tripod turnstiles, all of which are designed to provide a high level of security
                        while ensuring a smooth flow of people.</p>
                    <p class="p">Our systems are perfect for commercial and industrial properties where vehicle access
                        needs to be controlled. Our range includes boom barriers, sliding gates, and bollards, all of
                        which are designed to provide maximum security while ensuring that only authorized vehicles are
                        allowed onto your property.</p>
                    <p class="p">We are committed to providing our customers with the highest level of service and
                        support. Our team of expert technicians is on hand to help you choose the right system for your
                        needs and provide ongoing support and maintenance to ensure that your system continues to
                        operate smoothly.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <app-call-to-action></app-call-to-action>
        </div>
    </div>
</div>