<div class="container-fluid home">
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <h1 class="h1">Building Management Systems (BMS)</h1>
        </div>
    </div>

    <div class="row r2">
        <div class="col-sm-12 r2c1">
            <div class="row r2c1r1">
                <div class="col-sm-12 r2c1r1c1">
                    <h4 class="h4">Intro</h4>
                    <p class="p">Building Management Systems can improve building efficiency and sustainability by
                        automatically adjusting system settings based on occupancy, weather conditions, and other
                        factors. BMS can also provide building owners and managers with detailed performance data and
                        analytics to help identify areas for improvement and optimize operations.
                    </p>
                </div>
            </div>
            <div class="row r2c1r2">
                <div class="col-sm-12 r2c1r1c2">
                    <h4 class="h4">How does it work?</h4>
                    <p class="p">A Building Management System is composed of various hardware and software components
                        that work together to gather data from the building's various systems and equipment, analyse the
                        data, and automate or recommend adjustments to the systems based on that analysis. The system
                        uses sensors, meters, and other measurement devices to collect data on energy usage,
                        temperature, humidity, and other building parameters, which are then analysed to identify areas
                        where improvements can be made to increase energy efficiency, reduce costs, and improve occupant
                        comfort and safety.</p>
                    <p class="p">We offer a range of BMS solutions tailored to the unique needs of different buildings.
                        Our experienced team of engineers and technicians can design, install, and maintain BMS systems
                        that provide maximum benefits to building owners and operators. Whether you are looking to
                        improve energy efficiency, enhance occupant comfort, or increase safety and security, we can
                        help you achieve your goals.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row r3">
        <div class="col-sm-12 r3c1">
            <app-call-to-action></app-call-to-action>
        </div>
    </div>
</div>